body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
    text-align: center;
}

header {
    background-color: #EAC926;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
}


#hamburguer{
    display: flex;
    background-color: #1259c3; 
    width: 35px;
    height: 33px;
    position: relative;
    right: -135px;
    bottom: 0;
    top:-10px;
    font-size: 30px;
    padding: 5px 2px 5px 10px;
    border-radius: 5px;
    align-items: center;
}
.contenedor-logo {
    width: 50%;
}
.buscador-form {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
    margin-left: 20px;
    padding-right: 5px;
    padding-left: 1px;
    border-radius: 5px;
    position: relative;
    top: -40px;
    bottom: 30px;
    left: 130px;
    width: 50%;
}

.buscador-input {
    
    border: none;
    outline: none;
    width: 100%;
}

.buscador-form button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #03264C;
}


main {
    padding: 20px;
    width: 90%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}


section img{
    display: flex;
    padding: 10px;
    align-items: center;
    align-self: center;
    margin-top: -10px;
    margin-bottom: -10px;
}
.banner{
    width: 100%;
    max-width: 100%;
    height: auto;
}
section div{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    background-color: #ebebeb;
    flex-direction: column;
    line-height: 0px;
}

footer {
    background-color: #FFF;
    color:#666;; 
    text-align: center;
    padding: 20px;
    margin-top: -10px;
}

footer h4 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer p {
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 2px;
}

.fa {
    font-size: 2em;
    margin-bottom: 10px;
}
#ofertas{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#visita{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.p1{
    font-size: 18px;
    font-weight: bold;
    width: 30%;
}
.p2{
    width: 70%;
}

section h4{
    font-size: 16px;
}
strong{
    font-size: 16px;
    color: #39b54a;
}
footer i{
    margin-top: 20px;
    font-size: 40px;
}
.caja1{
    background-color: white;
    border-width: 10px;
    display: flex;
    align-items: center;
    border: 15px;
}
.caja2{
    background-color: white;
    border-width: 20px;
    display: flex;
    align-items: start;
    margin-top: -8px ;
    margin-bottom: 0px;
    padding-left: 15px;
    border: solid 1px #ebebeb;
    border: 5px;
}

.caja2 .truck{
    display: flex;
    margin-right: 12px;
    font-size: 10px;
}
.truck {
    display: flex;
    align-self: end;
    border-radius: 50%;
    padding: 10px;
    padding-bottom: -40px;
    padding-right: 8px;
    border: solid 1px #39b54a;
    margin-top: -20px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #FFF;
}
.caja2 div p {
    display: inline;
    margin-right: 50px;
    padding-bottom: 50px;
}
.parrafo{
    display: inline-block;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -20px;
    background-color: #FFF;
}



@media screen and (max-width: 360px){

    .contenedor-logo {
        width: 10%;
        box-sizing: border-box;
    margin-right: auto;
    padding-left: -12px;
    margin-left: -5px;
    }
.buscador-form{
    padding-right: -10px;
    padding-left: 13px;
    margin-right: 15px;
}
    ul{
        display: none;
    }
    ul li a{
        display: none;
    }
    #hamburguer{
    display: flex;
    background-color: #1259c3; 
    width: 35px;
    height: 33px;
    position: relative;
    right: -135px;
    bottom: 0;
    font-size: 30px;
    padding: 5px 2px 5px 10px;
    border-radius: 5px;
    align-items: center;
}
.h4{
   opacity: 0;
}
#compra{
    display: flex;
    align-self: center;
    position: relative;
    top: -20px
}
.fa-hand-holding-dollar{
    position: relative;
    border-top: -50px;
    top: -1px;
    right: 6px;
}
}


@media screen and (min-width: 361px){
    .contenedor-logo {
        width: 50%;
        box-sizing: border-box;
        width: auto;
    margin-right: auto;
    margin-left: -5px;
    }
    .buscador-form{
        padding-right: -10px;
        padding-left: 13px;
        margin-right: 15px;
    }

    #compra{
        display: flex;
        align-self: center;
        margin-top: -20px;
    }
   
    main{
        margin-bottom: 15px;
    }
    ul{
        list-style: none;
        color: #03264C;
        text-align: start;
    }
    ul li a{
        color: #03264C;
        text-decoration: none;
        margin-left: -40px;
    }
    #hamburguer{
        display: none;
    }
    header h4{
       margin-left: 10px;
    }
    .contenedor1{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.contenedor2{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor1 img, .contenedor2 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px ;
}
section .contenedor1,.contenedor2{
    display: inline-block;
    width: calc(50% - 20px);
    vertical-align: top; 
    box-sizing: border-box; 
    margin-inline-start:2px;
    padding: auto;
    margin-right: 16px;
}
.caja2 div p {
    display: inline;
    margin-right: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}
strong{
    font-size: 13px;
}
.h4{
    font-size: 12px;
}
}




@media screen and (min-width: 761px) {
    .left{
        display: inline-block;
        justify-content: flex-start;
    }
    .right{
        display: inline-block;
        justify-content: flex-end;
    }
    .contenedor-logo {
        width: 50%;
        box-sizing: border-box;
        width: auto;
    margin-right: auto;
    }
    .buscador-form{
        padding-right: -10px;
        padding-left: 13px;
        margin-right: 15px;
    }

    
    #compra{
        display: flex;
        align-self: center;
        position: relative;
        top: -53px;
        padding-left: 460px;
    }
    .fa-hand-holding-dollar{
        position: relative;
        border-top: -50px;
        top: -1px;
        right: 6px;
    }
    header img{
        margin-right: 40px;
        margin-left: -5px;
        margin-top: 20px;
        width: 250px;
    }
    main{
        margin-bottom: 15px;
        margin-left: 10px;
    }
    #visita{
        margin-left: -360px;
    }
    #ofertas{
        margin-left: -560px;
    }
    ul{
        list-style: none;
        color: #03264C;
    }
    ul li a{
        color: #03264C;
        text-decoration: none;
        margin-left: -30px;  }
    #hamburguer{
        display: none;
    }
    header h4{
       margin-left: 10px;
    }
    .contenedor1{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.contenedor2{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor1 img, .contenedor2 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
section .contenedor1,.contenedor2{
    display: inline-block;
    width: calc(20% - 0px);
    vertical-align: top; 
    box-sizing: border-box; 
    margin-inline-start:2px;
    padding: auto;
    margin-right: 28px;
    justify-content: center;
}
.caja2 div p {
    display: inline;
    margin-right: 2px;
    padding-bottom: 2px;
    font-size: 15px;
}
strong{
    font-size: 13px;
}
.h4{
    font-size: 12px;
}
.truck{
    font-size: 5px;
}

}



